<div class="row">
  <div class="col-xl-12">
    <% if @task.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h3><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h3>
        <ul>
          <% @task.errors.full_messages.each do |m| %>
            <li><%= m %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<%= form_with(model: task, local: true) do |f| %>
  <div class="row">
    <div class="col-xl-12">
      <%= f.label I18n.t('view.title') %>
      <br>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xl-12">
      <%= f.label I18n.t('view.contents') %>
      <br>
      <%= f.text_area :contents, :rows => 5, :class => "form-control" %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xl-6">
      <%= f.label I18n.t('view.status') %>
      <br>
      <%= f.radio_button(:status, :before_start, checked: "checked") %>
      <%= f.label(:status, I18n.t('view.before_start')) %>
      <%= f.radio_button(:status, :started) %>
      <%= f.label(:status, I18n.t('view.started')) %>
      <%= f.radio_button(:status, :finished) %>
      <%= f.label(:status, I18n.t('view.finished')) %>
    </div>
    <div class="col-xl-6">
      <%= f.label I18n.t('view.priority') %>
      <br>
      <%= f.radio_button(:priority, :priority_low, checked: "checked") %>
      <%= f.label(:priority, I18n.t('view.priority_low')) %>
      <%= f.radio_button(:priority, :priority_middle) %>
      <%= f.label(:priority, I18n.t('view.priority_middle')) %>
      <%= f.radio_button(:priority, :priority_high) %>
      <%= f.label(:priority, I18n.t('view.priority_high')) %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xl-12">
      <%= f.label I18n.t('view.deadline') %>
      <br>
      <%= f.datetime_select :deadline %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xl-6">
      <%= f.submit I18n.t('view.NEW'), :class => "form-control" if action_name == 'new' || action_name == 'create' %>
      <%= f.submit I18n.t('view.EDIT'), :class => "form-control" if action_name == 'edit' || action_name == 'update' %>
    </div>
  </div>
<% end %>
