<p id="notice"><%= notice %></p>
<h1><%= I18n.t('view.INDEX') %></h1>
<table>
  <tbody>
    <tr>
      <th><%= I18n.t('view.title') %></th>
      <th><%= I18n.t('view.deadline') %></th>
    </tr>
    <% @tasks.each do |t| %>
    <tr>
      <td><%= link_to t.title, task_path(t) %></td>
      <td><%= I18n.l(t.deadline, format: :custom_long) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
