<p id="notice"><%= notice %></p>
<h1>タスク一覧画面</h1>
<table>
  <tbody>
    <tr>
      <th>タイトル</th>
      <th>優先度</th>
      <th>進捗度</th>
      <th>終了期限</th>
    </tr>
    <% @tasks.each do |t| %>
    <tr>
      <td><%= link_to t.title, task_path(t) %></td>
      <td><%= t.priority %></td>
      <td><%= t.state %></td>
      <td><%= t.deadline %></td>
    </tr>
    <% end %>
  </tbody>
</table>
